@font-face {
	font-display: swap;
    font-family: 'Calluna Sans';
    src: url('../media/fonts/CallunaSansRegular.eot');
    src: url('../media/fonts/CallunaSansRegular.eot#iefix') format('embedded-opentype'),
         url('../media/fonts/CallunaSansRegular.woff') format('woff'),
         url('../media/fonts/CallunaSansRegular.ttf') format('truetype'),
         url('../media/fonts/CallunaSansRegular.svg#_.regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-display: swap;
    font-family: 'Calluna Sans';
    src: url('../media/fonts/CallunaSansBlack.eot');
    src: url('../media/fonts/CallunaSansBlack.eot#iefix') format('embedded-opentype'),
         url('../media/fonts/CallunaSansBlack.woff') format('woff'),
         url('../media/fonts/CallunaSansBlack.ttf') format('truetype'),
         url('../media/fonts/CallunaSansBlack.svg#calluna_sansblack') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
	font-display: swap;
    font-family: 'Calluna Sans';
    src: url('../media/fonts/CallunaSansItalic.eot');
    src: url('../media/fonts/CallunaSansItalic.eot#iefix') format('embedded-opentype'),
         url('../media/fonts/CallunaSansItalic.woff') format('woff'),
         url('../media/fonts/CallunaSansItalic.ttf') format('truetype'),
         url('../media/fonts/CallunaSansItalic.svg#_.regular') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
	font-display: swap;
    font-family: 'Calluna Sans';
    src: url('../media/fonts/CallunaSansBlackItalic.eot');
    src: url('../media/fonts/CallunaSansBlackItalic.eot#iefix') format('embedded-opentype'),
         url('../media/fonts/CallunaSansBlackItalic.woff') format('woff'),
         url('../media/fonts/CallunaSansBlackItalic.ttf') format('truetype'),
         url('../media/fonts/CallunaSansBlackItalic.svg#calluna_sansblack_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}


@font-face {
	font-display: swap;
    font-family: 'Gibson';
    src: url('../media/fonts/Gibson-Regular.eot');
    src: url('../media/fonts/Gibson-Regular.eot#iefix') format('embedded-opentype'),
         url('../media/fonts/Gibson-Regular.woff') format('woff'),
         url('../media/fonts/Gibson-Regular.ttf') format('truetype'),
         url('../media/fonts/Gibson-Regular.svg#GibsonRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-display: swap;
    font-family: 'Gibson';
    src: url('../media/fonts/Gibson-SemiBold.eot');
    src: url('../media/fonts/Gibson-SemiBold.eot#iefix') format('embedded-opentype'),
         url('../media/fonts/Gibson-SemiBold.woff') format('woff'),
         url('../media/fonts/Gibson-SemiBold.ttf') format('truetype'),
         url('../media/fonts/Gibson-SemiBold.svg#GibsonLightBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
	font-display: swap;
    font-family: 'Gibson';
    src: url('../media/fonts/Gibson-Italic.eot');
    src: url('../media/fonts/Gibson-Italic.eot#iefix') format('embedded-opentype'),
         url('../media/fonts/Gibson-Italic.woff') format('woff'),
         url('../media/fonts/Gibson-Italic.ttf') format('truetype'),
         url('../media/fonts/Gibson-Italic.svg#GibsonItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
	font-display: swap;
    font-family: 'Gibson';
    src: url('../media/fonts/Gibson-SemiBoldItalic.eot');
    src: url('../media/fonts/Gibson-SemiBoldItalic.eot#iefix') format('embedded-opentype'),
         url('../media/fonts/Gibson-SemiBoldItalic.woff') format('woff'),
         url('../media/fonts/Gibson-SemiBoldItalic.ttf') format('truetype'),
         url('../media/fonts/Gibson-SemiBoldItalic.svg#GibsonLightBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}


.regular p {
	font-weight: bold;
	color: aqua;
}

.regular .bottom-nav {
	display: none;
}

::selection {
	background: #FFFFFF;
	/* Safari */
	color: #1a1a1a;
}

::-moz-selection {
	background: #FFFFFF;
	/* Firefox */
	color: #1a1a1a;
}

body {
	margin: 0px;
	margin-bottom: 0px;
	padding: 0px;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p,
li,
blockquote {
	line-height: 28px;
	margin: 0;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 30px;
}

.ir {
	text-indent: -99999em;
}

.center {
	text-align: center;
}

small {
	font-size: 70%;
}

/* Global colors 
********************************/
body {
	color: #ededed;
	background-color: #1a1a1a;
}

.blog-description {
	color: #b3b3b3;
}

a {
	color: #ededed;
	text-decoration: none;
	border-bottom: 1px solid rgba(136, 136, 136, 0.3);
}

#header h1 a {
	color: #FFFFFF;
	border-bottom: none;
}

a:hover {}

a:active {
	position: relative;
	outline: none;
	top: 1px;
}

.metadata a,
#footer-links a,
#footer p.promo a,
.links a {
	color: #b3b3b3;
	border-bottom: none;
}

.metadata a:hover,
#footer-links a:hover,
#footer p.promo a:hover,
.links a:hover,
.more a:hover,
a.mobile-player:hover {}

.post {
	border-bottom: 1px solid rgba(136, 136, 136, 0.2);
}

.colophon p {
	color: #b3b3b3;
}

/* Global fonts 
********************************/
body {
	font-family: 'Calluna Sans', sans-serif, georgia, serif;
	font-weight: normal;
}

.title h1,
.link-title h1,
.chat-title h1,
.q h1,
.a h1,
.album-info h2,
#footer h2 {
	font-family: 'Gibson', sans-serif, georgia, serif;
	font-weight: bold;
}

.blog-title h1 {
	font-family: 'Gibson', sans-serif, futura, helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 96px;
	line-height: 1em;
}

.metadata a {
	font-family: , helvetica, arial, sans-serif;
	font-weight: normal;
}

/* Page 
********************************/
#page {
	border: 0px solid;
	max-width: 900px;
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
}

/* Header Left-Aligned
********************************/
#header {
	margin-top: 70px;
	display: block;
	overflow: visible;
}

#header a {
	text-decoration: none;
}

.blog-title {
	display: block;
	float: left;
	border: 0px red solid;
	width: 50%;
	margin-bottom: 100px;
}

.blog-title a {
	border-bottom: none;
}

.blog-title img {
	max-width: 100%;
}

.blog-title h1 {
	font-size: 46px;
}

.blog-description {
	font-size: 16px;
	line-height: 20px;
	margin-top: 8px;
}

.links {
	float: right;
	margin-top: 10px;
}

.links ul {
	margin-top: 10px;
	padding: 0;
	display: block;
	float: right;
}

.links li {
	display: inline;
	margin-left: 1em;
	font-size: 12px;
	text-transform: none;
}

.links li:first-child {
	margin-left: 0px;
}

/* Post wrappers
********************************/
#content {
	width: 100%;
	overflow-x: hidden;
	clear: both;
}

.post {
	margin-bottom: 45px;
	padding-bottom: 40px;
	width: 100%;
}

.narrow {
	max-width: 640px;
	margin: auto;
}

/* Headings
********************************/
.title h1,
.link-title h1,
.chat-title h1 {
	text-align: center;
	margin: auto;
	margin-bottom: 25px;
	font-size: 42px;
	line-height: 50px;
}

.link-title a {
	text-decoration: none;
	position: relative;
	border: none;
	color: #FFFFFF;
}

span.link-arrow {
	position: relative;
	font-size: 20px;
	bottom: 3px;
}

.quote-short {
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 25px;
}

.photo .wide,
.album-art .wide,
.videoWrapper {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	border-radius: 2px;
}

.photo img,
.album-art img {
	min-width: 640px;
}

.photoset-layout {
	max-width: 700px;
	display: block;
	margin: auto;
	margin-bottom: 30px;
}

.tumblr_audio_player {
	height: 250px;
}

.audio iframe {
	width: 100%;
	margin-bottom: 20px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe,
.videoWrapper object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Post body styles
********************************/
.caption p {
	margin-bottom: 15px;
}

.caption h1 {
	font-weight: bold;
	margin-bottom: 15px;
}

.caption h2 {
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 24px;
}

.caption blockquote {
	margin-bottom: 10px;
	border-left: 3px solid rgba(136, 136, 136, 0.2);
	margin-left: 5px;
	padding-left: 15px;
	line-height: 26px;
}

.caption pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	background-color: rgba(136, 136, 136, 0.2);
	border-radius: 2px;
	padding: 10px 15px 10px 15px;
	font-size: 15px;
	line-height: 24px;
	margin: 15px 0 25px 0;
}

.caption ul,
ol {
	margin-top: 0;
	margin-bottom: 25px;
	padding-left: 40px;
}

.caption img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 30px auto 30px auto;
	border-radius: 2px;
}

.quote-short {
	line-height: 40px;
	font-size: 36px;
	margin-bottom: 20px;
}

.quote-medium,
.quote-long {
	line-height: 32px;
	font-size: 24px;
	margin-bottom: 20px;
}

ul.chat {
	list-style-type: none;
	padding-left: 0;
}

.chat li {
	border-bottom: 1px solid rgba(136, 136, 136, 0.3);
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.chat li:last-child {
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

span.odd,
span.even {
	font-weight: bold;
}

.more a {
	display: block;
	width: 99%;
	height: 30px;
	border: 1px solid rgba(136, 136, 136, 0.3);
	text-align: center;
	text-decoration: none;
	border-radius: 2px;
	padding-top: 10px;
	margin-bottom: 30px;
}

.more a:active {
	background: rgba(136, 136, 136, 0.08);
	box-shadow: inset 0px 1px 4px rgba(136, 136, 136, 0.2);
	top: 0px;
}

.audio-module {
	display: block;
	overflow: hidden;
	margin-bottom: 25px;
}

a.mobile-player {
	border: 1px solid rgba(136, 136, 136, 0.2);
	background: rgba(136, 136, 136, 0.1);
	width: 99%;
	padding: 30px 0 30px 0;
	margin-bottom: 25px;
	border-radius: 2px;
	display: none;
}

a.mobile-player:active {
	top: 0px;
	box-shadow: inset 0px 1px 4px rgba(136, 136, 136, 0.2);
	background: rgba(136, 136, 136, 0.18);
	border: 1px solid rgba(136, 136, 136, 0.3);
}

.play-triangle {
	margin-left: 20px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 6.5px 0 6.5px 10px;
	border-color: transparent transparent transparent rgba(136, 136, 136, 0.8);
}

.album-info {
	display: block;
	float: left;
	width: 63%;
}

.player {
	display: block;
	background-color: #ffffff;
	float: right;
	padding-top: 5px;
	padding-right: 2px;
	border: 1px solid rgba(136, 136, 136, 0.3);
}

.desktop-spotify {
	display: block;
}

.mobile-spotify {
	display: none;
	width: 290px;
	margin: auto;
}

.iphone-video object {
	display: block;
	margin: 0px auto 20px;
}

.asker-block,
.answer-text {
	display: block;
	overflow: auto;
}

p.question {
	padding-bottom: 10px;
	padding-top: 10px;
}

p.album,
p.question {
	font-size: 24px;
	line-height: 32px;
}

h1.qa-letter {
	display: block;
	float: left;
	width: 45px;
	position: relative;
	bottom: 3px;
	font-size: 30px;
}

.q {
	margin-bottom: 20px;
}

img.asker {
	float: left;
	margin-right: 8px;
	border-radius: 2px;
	position: relative;
	top: 2px;
}

p.asker {
	font-style: italic;
}

p.question {
	clear: both;
}

/* Metadata
********************************/
.metadata {
	border: 0px solid gray;
	overflow: auto;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 20px;
}

.metadata a {
	text-decoration: none;
}

.date,
.tags,
.notes-count {
	display: block;
	float: left;
	margin-right: 15px;
}

.tags a,
.notes-count a,
.date a {
	margin-right: 5px;
}

/* Post Navigation
********************************/
.post-navigation {
	overflow:hidden;
}

.post-navigation .next,
.post-navigation .prev {
	display:block;
}

.post-navigation .next {
	float:right;
}

.post-navigation .prev {
	float:left;
}

/* Footer
********************************/
#footer {
	text-align: center;
	margin-bottom: 40px;
}

#footer a {
	text-decoration: none;
	border-bottom: none;
}

a.back-next {
	margin: 0px 10px 0px 10px;
}

#footer h2 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 40px;
}

#footer-links ul {
	margin-bottom: 0px;
	padding: 0;
	display: block;
	text-align: center;
}

#footer-links li {
	display: inline;
	margin-left: 1em;
	font-size: 14px;
}

#footer-links li:first-child {
	margin-left: 0px;
}

#footer .colophon p {
	font-size: 14px;
	font-style: italic;
}

#footer p.promo {
	font-size: 12px;
	text-transform: uppercase;
	font-style: normal;
}

/* Notes and comments
********************************/
#permalink-content {
	margin-top: 40px;
}

.avatar_frame {
	position: relative;
	top: 4px;
	margin-right: 10px;
}

.comments {
	margin-bottom: 35px;
}

.comments h3,
.permalink-notes h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

.permalink-notes ol {
	padding-left: 0;
}

.permalink-notes li {
	list-style: none;
	margin-bottom: 10px;
	padding-top: 10px;
	border-top: 1px solid rgba(136, 136, 136, 0.3);
	font-size: 13px;
}

.permalink-notes blockquote {
	margin: 5px 0px 5px 0px;
	border-left: 3px solid rgba(136, 136, 136, 0.2);
	margin-left: 20px;
	padding-left: 15px;
	line-height: 24px;
}

.notes a {
	border-bottom: none;
	text-decoration: underline;
}

.post iframe,
.post object {
	max-width: 100%;
}

/* Browser size break-points
********************************/
@media screen and (max-width: 800px) {
	#header {
		margin-top: 20px;
		display: block;
		overflow: visible;
		padding-bottom: 0px;
	}

	.blog-title {
		display: block;
		text-align: center;
		margin-top: 50px;
		float: none;
		width: 100%;
		margin-bottom: 50px;
	}

	.blog-title h1 {
		font-size: 40px;
		margin-bottom: 10px;
	}

	.blog-description {
		font-size: 16px;
		line-height: 20px;
	}

	.links {
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
		float: none;
		border-bottom: 1px solid rgba(136, 136, 136, 0.4);
	}

	.links ul {
		margin-top: 10px;
		padding: 0;
		display: block;
		text-align: center;
		float: none;
	}

	.links li {
		display: inline;
		margin-left: 1.5em;
		font-size: 12px;
		text-transform: none;
	}

	.metadata {
		font-size: 12px;
	}

	.player {
		display: none;
	}

	a.mobile-player {
		display: block;
	}

	.album-info {
		width: 100%
	}

	.title h1,
	.link-title h1,
	.chat-title h1 {
		text-align: center;
		font-size: 36px;
		line-height: 42px;
	}
}

@media screen and (max-width: 740px) {
	#page {
		padding-left: 1em;
		padding-right: 1em;
	}

	#header {
		margin-bottom: 50px;
	}

	/* WRANGLE TUMBLR VIDEO PLAYER */
	.iphone-video img {
		width: 90%;
	}

	.iphone-video a {
		margin-bottom: 20px;
	}

	/* IMAGES */
	.photo img,
	.album-art img {
		min-width: 100%;
	}

	.link-title a {
		line-height: 50px;
	}

	.desktop-spotify {
		display: none;
	}

	.mobile-spotify {
		display: block;
	}
}